@import url("https://fonts.cdnfonts.com/css/larsseit-font-family");
/* to formate document use shift alt f */

* {
  box-sizing: border-box;
}

body {
  font-family: "Larsseit", sans-serif;
  margin: 0;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container.container-big {
  max-width: 1440px;
  padding: 0;
}

.about-us-inner {
  font-size: 0;
}

.about-us-top {
  margin-bottom: 70px;
}

.about-us-header {
  width: 25%;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
  color: #22356f;
}

.about-us-text {
  max-width: 592px;
  font-size: 24px;
  color: #22356f;
  font-weight: 500;
}

.about-us-header,
.about-us-text {
  display: inline-block;
}

.about-us-list-heading {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgba(34, 53, 111, 0.5);
  margin-bottom: 24px;
}

.about-us-list {
  padding-left: 0;
  font-size: 0;
  margin-bottom: 120px;
}

.about-us-list-item {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  width: calc(100% / 4);
  padding: 72px 54px;
  vertical-align: top;
  position: relative;
  color: #fff;
}

.about-us-list-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s opacity;
}

.about-us-list-item:hover img {
  opacity: 1;
  visibility: visible;
}

.about-us-list-item.big {
  width: calc(100% / 3);
  min-height: 480px;
}

.about-us-list-item .title {
  border-top: 1px solid;
  padding-top: 23px;
  position: relative;
  z-index: 1;
}

.about-us-list-item.big .title {
  padding-top: 30px;
}

.about-us-list-item.text {
  width: calc(100% / 3);
  color: #22356f;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 55px;
  padding-bottom: 37px;
}

.about-us-list-item.text .title {
  border-top: 0;
  margin-bottom: 0;
}

.about-us-list-item.text .title-content {
  font-size: 16px;
  vertical-align: top;
  color: rgba(34, 53, 111, 0.5);
  margin-bottom: 0;
}

.about-us-list-item:nth-child(1) {
  background: #ffe2de;
}

.about-us-list-item:nth-child(2) {
  background: #c4e769;
}

.about-us-list-item:nth-child(3) {
  background: #62d0df;
}

.about-us-list-item:nth-child(4) {
  background: #0052c1;
}

.about-us-list-item.big:nth-child(1) {
  background: #22356f;
}

.about-us-list-item.big:nth-child(2) {
  background: #0052c1;
}

.about-us-list-item.big:nth-child(3) {
  background: #808696;
}

.about-us-list-item.big:nth-child(4) {
  background: #62d0df;
}

.about-us-list-item.big:nth-child(5) {
  background: #dee1ff;
}

.about-us-list-item.big:nth-child(6) {
  background: #8f00ff;
}

.about-us-list-item.text:nth-child(n) {
  background: #ffffff;
}

.about-us-list-item::before {
  background-color: #e9b730;
  content: "";
  position: absolute;
  top: 110px;
  left: 34px;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  z-index: 1;
}

.about-us-list-item.big::before {
  top: 117px;
}

.about-us-list-item.text::before {
  content: none;
}

.man-inner {
  font-size: 0;
}

.photo-of-a-man {
  max-width: 480px;
  min-height: 800px;
  vertical-align: top;
}

.man-photo {
  width: 100%;
}

.man-header {
  max-width: 217px;
  min-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #22356f;
  vertical-align: top;
  margin-top: 103px;
  margin-bottom: 225px;
  margin-left: 106px;
}

.man-text {
  max-width: 676px;
  min-height: 215px;
  color: #22356f;
  font-size: 36px;
  font-weight: 700;
  vertical-align: top;
  margin-left: 106px;
  padding-bottom: 152px;
}

.man-help {
  max-width: 518px;
  min-height: 43px;
  color: #fab63e;
  font-size: 16px;
  font-weight: 700;
  padding-left: 106px;
}

.man-color {
  color: #6cd3e1;
}

.photo-of-a-man,
.man-information {
  display: inline-block;
}

.nigga {
  background: #22356f;
}

.nigga-inner {
  font-size: 0;
}

.photo-of-a-nigga {
  vertical-align: top;
  float: right;
}

.nigga-photo {
 max-width: 25%;
}

.nigga-header {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  vertical-align: top;
  margin-left: 180px;
  margin-bottom: 75px;
}

.nigga-information {
  max-width: 75%;
}

.nigga-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
  margin-top: 103px;
  margin-left: 180px;
  margin-right: 672px;
  margin-bottom: 230px;
}

.nigga-text {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  vertical-align: top;
}

.nigga-help {
  color: #62d0df;
  font-size: 16px;
  font-weight: 700;
}

.photo-of-a-nigga,
.nigga-information {
  display: inline-block;
}

.basement {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.basement-text {
  color: #22356F;
  font-size: 14px;
  font-weight: 700;
}